* {
  box-sizing: border-box;
}


body {
  font-family: Lato, sans-serif;
  line-height: 1.7;
}


/*********GLOBALS**************/



#header {
  width: 100%;
  height: 90px;
  background-color: rgba(33,33,33,0.9);
  margin:0;
  float: left;
}

.logo{
  color: #fff;
  float: left;
}
.navigation {
  float: right;
  z-index: 9000;
  ul {
    list-style: none;
    padding: 0;
    float: right;
    li {
      padding: 0;
      float: left;
      margin: 20px 10px;
      a {
        color: red;
        text-decoration: none;
        padding: 15px;
        background-color: black;
        color: white;
        box-shadow: 1px 1px 4px #888;
      }
      ul.sub-menu {
        position: absolute;
        margin: 10px 0 0 0;
        padding: 0;
        width: 200px;
        padding: 40px 0;
        display: none;
        li {
          padding: 0;
          margin: 10px 0;
          float: none;
          a {
            padding: 15px;
            display: block;
            width: 100%;
            color: white;
            background-color: gray;
            box-shadow: none;
          }
        }
      }
    }
    li:hover {
      a {
        box-shadow: 1px 1px 4px red;
      }
      ul {
        display: block;

      }
    }
  }
}
.responsive-menu-btn {
  z-index: 8000;
  position: absolute;
  top: 18px;
  right: 2%;
  display: none;
  a {
    display: block;
    float: left;
    width: 44px;
    height: 44px;
    span {
      display: block;
      width: 70%;
      height: 2px;
      margin: 10px auto;
      background-color: #fff;
    }
  }
}




.wrapper {
  width: 80%;
  margin: 0 auto;
}

.video-reveal {
  margin-top: 50px;
  float: left;
  width: 100%;
  background-color: black;
  height: 400px;
  iframe {
    height: 100%;
  }
  a {
    display: block;
    position: relative;
    img {
      display: block;
      margin: 0 auto;
      position: absolute;
      top: 130px;
      left: 45%;
      width: 10%;
    }
  }
}
